src/*.exe
src/huecoin
src/huecoind
src/test_huecoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.huecoin

# Compilation and Qt preprocessor part
*.qm
Makefile
HueCoin-qt
HueCoin-Qt.app

# Unit-tests
Makefile.test
huecoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
